.container {
   height: 600px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
}

.requests {
    flex: 1;
    display: flex;
    padding-bottom: 60px;
    box-sizing: border-box;
    max-height: 100%;
}