/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  margin: 0;
  padding: 0;
  background-color: #dde2eb;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow: hidden;
  color: white;
}

#root {
  height: 728px;
}


h1, h2, h3, p {
  margin: 0;
}