.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.h2 {
  font-weight: normal;
  color: #3b3f46;
  font-family: 'Pacifico', cursive;
}

.button {
  background-color: #1d09db;
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 5px;
  color: #f3f7ff;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}

.stopButton {
  composes: button;
  background-color: #ed2b33ff;
}

.input {
  background-color: #fff;
  outline: none;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(117, 117, 117, 0.08);
  color: #3b3f46;
  font-size: 14px;
  width: 80px;
}